body{
  margin: 0;
  font-family: Arial,sans-serif;
  background: #0f172a;
  color: white;
}
.top-bar{
  background: 020617;
padding:15px;
display: flex;
justify-content:space-between;
align-items: center;


}

.editor-container{
  padding:20px;
}

textarea{
  width: 100%;
  height:80vh;
  background: #020617;
  color: #22c55e;
  border: none;
  resize: none;
  font-family: monospace;
}