* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }
body { background-color: #0d1117; color: #c9d1d9; height: 100vh; overflow: hidden; display: flex; flex-direction: column; }

/* Navbar */
nav { height: 55px; background: #161b22; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; border-bottom: 1px solid #30363d; }
.logo { font-size: 1.3rem; font-weight: 800; color: #58a6ff; }
.Navigations { display: flex; gap: 15px; align-items: center; }
#timerDisplay { background: #da3633; color: white; padding: 4px 10px; border-radius: 4px; font-family: 'Fira Code', monospace; font-weight: bold; }
.room-info { background: #21262d; padding: 4px 10px; border-radius: 4px; font-size: 0.85rem; }

/* Main Layout */
main { display: flex; flex: 1; position: relative; }

.panel { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    border-right: 1px solid #30363d; 
}

.panel-header { 
    background: #161b22; 
    padding: 6px 15px; 
    font-size: 0.75rem; 
    color: #8b949e; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

.border-top { border-top: 1px solid #30363d; }

/* Editors & Terminals */
textarea { 
    flex: 2; 
    background: #0d1117; 
    color: #d1d5db; 
    padding: 15px; 
    font-family: 'Fira Code', monospace; 
    border: none; 
    outline: none; 
    resize: none; 
    font-size: 0.95rem; 
}

.terminal-view { 
    flex: 1; 
    background: #010409; 
    color: #3fb950; 
    font-size: 0.85rem; 
}

.chat-float{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    height: 380px;
    background: #020617;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    z-index: 999;
}

.chat-header{
    height: 45px;
    background: #1e293b;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px 14px 0 0;
    font-weight: 600;
}

.chat-body{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-body input{
    margin-top: auto;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.chat-float.minimized{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.chat-float.minimized .chat-body{
    border-radius: 50%;
    justify-content: center;
    display: none;
}

.chat-float.minimized .chat-toggle{
    display: none;
}
#userMsg{
    border: none;
    color: #fff;
    background: #1e293b;
}